:root {
    --info: #FC9E38;
    --game-ing: #55FF00;
    --result: #FFF540;
    --attack: #FF443A;
    --attack_font: #E5FF62;
    --counter: #2B7BFC;
    --list: #FFAB1A;
    --first: #FF2F89;
    --second: #9E3EC1;
    --third: #7F1E72;
    --start:#FFD813;
    --login: #FFAE00;
    --white: #FFFFFF;

}