{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="game_container">
        {% csrf_token %}
        <h3>반격할 카드: </h3>
        <div class="card-options">
            {% for card in cards %}
                <label>
                    <input type="radio" name="card" value="{{ card }}" {% if forloop.first %}checked{% endif %}>
                    {{ card }}
                </label>
            {% endfor %}
        </div>
        <a method="post">
            <button type="submit" class="counter">CounterAttack!</button>
        </a>
</div>
{% endblock %}
