{% extends 'base.html' %}
{% load static %}

{%block content%}
<div class="game_container">
    <div class="game-card">
        <h2>{{ match.player1.username }} VS {{ match.player2.username }}</h2>
        {% if match.status == 'pending' %}
            <p>진행중...</p>
            <p>나: {{ match.player1_choice }}</p>

            <form action="{% url 'game:delete_game' match.pk %}" method="post">
                {% csrf_token %}
                <button class="counter" type="submit">게임취소</button>
            </form>
            <a href="{% url 'game:gameHistory' %}" class="mx-2">

                <button type="button" class="game_history">전적목록</button>
            </a>
        {% elif match.status == 'counterattack' %}
            <form action="{% url 'game:counterattack' match.number %}" method="post">
                {% csrf_token %}
                <button class="counter" type="submit">대응하기</button>
            </form>
            <a href="{% url 'game:gameHistory' %}" class="mx-2">
                <button type="button" class="game_history">전적목록</button>
            </a>
        {% elif match.status == 'completed' %}
            <p>숫자가 작은 사람이 이깁니다.</p>
            <p>{{ match.player1.username }}: {{ match.player1_choice }}</p>
            <p>{{ match.player2.username }}: {{ match.player2_choice }}</p>
            <p>결과: {{ match.result }}</p>
            <hr>
            <p>점수: {{ match.score }}</p>
            <a href="{% url 'game:gameHistory' %}" class="mx-2">

                <button type="button" class="game_history">전적목록</button>
            </a>
        {% endif %}
    </div>
</div>
{%endblock%}
