<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Top 3</h1>
    <ul >
        {% for user in top3_users %}
            <li>{{ user.username }} - {{ user.point }}</li>
            <div class="bar" style="width: {% widthratio user.point 1 100 %}px;"></div>
            <style>
                .bar {
                    height: 20px;
                    background-color: blue;
                }
            </style>
        {% endfor %}
    </ul>
    <a href="{% url 'game:dashboard' %}">Dashboard</a>
</body>
</html>