{% extends 'base.html' %}
{% load static %}

{%block content%}
<div class="game-container">
    <div class="game-card">
        <h2>{{ match.number }} - {{ match.attacker }} VS {{ match.defender }}</h2>
        {% if match.status == 'in_progress' %}
            <p>진행중...</p>
            <p>나: {{ match.card }}</p>
            <form action="{% url 'game:cancel_game' match.number %}" method="post">
                {% csrf_token %}
                <button type="submit">게임취소</button>
            </form>
            <a href="{% url 'game:history' %}" class="mx-2">
                <button type="button">전적목록</button>
            </a>
        {% elif match.status == 'counterattack' %}
            <form action="{% url 'game:counterattack' match.number %}" method="post">
                {% csrf_token %}
                <button type="submit">대응하기</button>
            </form>
            <a href="{% url 'game:history' %}" class="mx-2">
                <button type="button">전적목록</button>
            </a>
        {% elif match.status == 'finished' %}
            <p>숫자가 작은 사람이 이깁니다.</p>
            <p>{{ match.attacker }}: {{ match.attacker_card }}</p>
            <p>{{ match.defender }}: {{ match.defender_card }}</p>
            <p>결과: {{ match.result }}</p>
            <p>점수: {{ match.score }}</p>

            <a href="{% url 'game:history' %}" class="mx-2">
                <button type="button">전적목록</button>
            </a>
        {% endif %}
    </div>
</div>
{%endblock%}
