{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="game_container">
    <form action="{%url 'game:create_game'%}" method="post">
        {% csrf_token %}
        <h3>내가 고른 카드: </h3>
        <div class="card-options">
            {% for card in cards %}
                <label>
                    <input type="radio" name="card" value="{{ card }}" {% if forloop.first %}checked{% endif %}>
                    {{ card }}
                </label>
            {% endfor %}
        </div>
        <label for="defender">Defender:</label>
        <select id="defender" name="defender" required>
            {% for user in defenders %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="attack">Attack!</button>
    </form>
</div>
<script>
    const form = document.getElementById('attack-form');
    const defenderSelect = document.getElementById('defender');

    form.addEventListener('submit', function(event) {
        if (!defenderSelect.value) {
            alert('Defender를 설정하세요!');
            event.preventDefault();
        }
    });
</script>
{% endblock %}
