{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'game/style.css'%}"> 
  <link rel="stylesheet" href="{%static 'game/global.css'%}">   
  {%block head%}


  {% endblock %}
</head>
<body>
  <main>
    <nav>
    <a href="/"><h1>Piro Card Game</h1></a>
    <a href="" class="mx-2">
      <button type="button" class="btn btn-info">게임하기</button>
    </a>
    <a href="{% url 'game:gameRankingTop3' %}" class="mx-2">
      <button type="button" class="btn btn-warning">랭킹보기</button>
    </a>
    <a href="{% url 'user:logout' %}" class="mx-2">
        <button type="button" class="btn btn-info">로그아웃</button>
      </a>
    </nav>
    <div class="container">
        {%block content%}
      
    
        {%endblock%}
      </div>
  </main>
  <script></script>
</body>
</html>

